
.slider-bottom {
    max-width: 1000px;
    width: 90%;
    display: flex;
    justify-content: center;
    
    .slick-list {
        width: 80%;
    }

    .slick-next {
        width: 10%;
    }
    .slick-prev {
        width: 10%;
    }

    .slider-bottom-slider{
        height: 100%;
        width: 100%;
    }
    .slider-bottom-container {
        padding: 2%;
    }
}
