.phone-list-menu {

    .phone-btn-trigger{
        margin-top: 20px;
        background: #ae2a27;
        cursor: pointer;
        height: 54px;
        line-height: 54px;
        font-size: 15px;
        padding: 0 28px;
    }
    
    .dropdown-menu-content{
        display: none;
        width: 180px;
        background-color: var(--second-color);
        flex-direction: column;
        justify-content: center;
        transform: translate3d(0px, 0px, 0px) !important;
        inset: auto !important;
    }
    .dropdown-menu-content a {
        display: block;
        color: white;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        padding: 14px 16px;
    }
    
    .dropdown-menu-content.show{
        display: flex;
    }    
}

.phone-list-menu.admin {
    .phone-btn-trigger, .dropdown-menu-content{
        width: 200px; 
    }

    .phone-add-container {
        display: flex;
        align-items: center;
    }
    .phone-add-input {
        color: white;
        line-height: 10px;
    }
    .phone-add-button {
        color: white;
        padding: 6px;
    }
    .dropdown-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}