.main-slider-content-component {
    height: 700px;
    position: relative;
    width: 100%;
}



.main-slider-content-component.admin {
    height: 700px;

    .image-number-container{
        position: absolute;
        top: 40%;
        right: 2%;
        z-index: 2;
        p {
            color: white;
            font-weight: bolder;
            font-size: 3rem;
            background-color: #ae2a27;
            border-radius: 10px;
            width: 60px;
            text-align: center;
        }
    }

    .control-panel {
        position: absolute;
        bottom: 0;
        width: 50%;
        z-index: 2;
        right: 25%;
        margin-bottom: 10px;
    }

    .center-panel {
        margin: 10px auto 0 auto;
        background-color: #333;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 10px;
    }
    .control-btn {
        width: calc(100% / 6);
        background-color: #ae2a27;
        border: none;
        color: white;
        padding: 10px 20px;
        margin: 0 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .control-btn:hover {
        background-color: #922423;
    }

    .control-btn:active {
        // background-color: #003f7f;
        background-color: #711c1b;

    }

    .control-btn:focus {
        outline: none;
    }

    .non-animation .play {
        animation-play-state: paused !important;

    }
}


@media screen and (max-width: 992px) {
    .main-slider-content-component.admin {
        .control-panel {
            width: 80%;
            right: 10%;
        }
    }
}

@media screen and (max-width: 600px) {
    .main-slider-content-component {
        height: 600px;
    }
    .main-slider-content-component.admin {
        .control-panel {
            width: 100%;
            right: 0%;
            margin: 0;

        }
        .center-panel {
            padding: 10px 2px;
            border-radius: 0;
        }
        .control-btn {
            padding: 10px 10px;
            margin: 0 5px;
            border-radius: 5px;
        }
    }
}

@media screen and (max-width: 360px) {
    .main-slider-content-component {
        height: 400px;
    }
    .main-slider-content-component.admin {
        .control-btn {
            padding: 10px 5px;
        }
    }
}