/* Social */
.social {
    height: inherit;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.social.border {
    border-left: 3px solid white ;
    padding: 0 10px;
}

.social > a, .social img{
    width: 40px;
    display: block;
    padding: 0;
}
.social a {
}
.social img {
    height: 30px;
}
