/* ------------------- Bgn overlay ------------------- */
.bgn-parallax{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #101010;
    position: relative;
    overflow: hidden;
    height: 500px;
}

.icon{
    width: 35%;
}
.icon-bgn {
    display: flex;
    justify-content: center;
    align-self: center;
}
.parallax-container-content{
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red-color);
    color: white;
    cursor: pointer;
    z-index: 1;
}
.btn-outline1, .btn-outline2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid var(--red-color);
    z-index: 1;
    border-radius: 10px;
} 
.parallax-container-content{
    animation-name: elementor-animation-pulse-shrink;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 10px;
}
.btn-outline1{
    animation: v-fade-before 2s infinite ease-in-out;
}
.btn-outline2{
    animation: v-fade-after 2s infinite ease-in-out;
}


@keyframes v-fade-before {
    0% {
        transform: scale(1);
        opacity: .7;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes v-fade-after {
    0% {
        transform: scale(1);
        opacity: .5;
    }
    100% {
        transform: scale(1.8);
        opacity: 0;
    }
}

@keyframes elementor-animation-pulse-shrink {
    100% {
        transform: scale(0.9);
    }
}

