/* ------------------- Footer ------------------- */
:root{
    --first-color: #2d2d2d;
    --second-color: #454545;
    --red-color: #ae2a27;
}

.footer{
    background-color: var(--first-color);
    color: white;
    padding: 1px;
    margin: 0;
    border-top: 5px var(--red-color) solid;
    clear: both;
}
.container{
    background-color: var(--first-color);
    max-width: 1300px;    
    margin: 2% auto;
}
.footer a {
    text-decoration: none;
    color: white;

}
iframe{
    width: 100%;
    height: 200px;
}
.info{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon {
    height: 20px;
    margin: 0 20px;
}
.phone-list li{
    font-size: 1.2rem;
    margin: 10px 0;
}
.footer .social-container{
    height: auto;
}
.contacts {
    margin-bottom: 60px;
}

@media screen and (max-width: 992px) {
    .container {
        margin: 20px 5%;
    }
}