#colorPicker, .Okm-colorPicker{
    position: relative;

    width: inherit;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(50%);
    -webkit-clip-path: circle(50%);
    padding: 0;
    margin: 0;
}

.Okm-colorPicker{
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
}


.Okm-colorPicker .sector {
    position: absolute;
    cursor: pointer;
    transform-origin: 0% 0%;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    padding: 0;
    margin: 0;
} 


.Okm-colorPicker .sector:hover::before{
    position: absolute !important;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.Okm-colorPicker .circle{
    position: absolute;
    clip-path: circle(50%);
    -webkit-clip-path: circle(50%);
    transition: all 2s;
}

.Okm-colorPicker:hover .circle:nth-child(even){
    transform: rotate(10deg);
}

#colorPickerViewColor{
    position: absolute;
    overflow: hidden;
    clip-path: circle(50%);
    -webkit-clip-path: circle(50%);
    background-color: #fff;
    width: 120px;
    height: 120px;
    border: white solid 20px;
    border-radius: 50%;
}
#colorPickerViewColor:hover{
    border: white solid 20px;
}
#colorPickerTarget{
    height: inherit;
    width: inherit;
    cursor: pointer;
}
@keyframes animation-pulse-border {
    100% {
        border-width: 26px;
    }
}
#viewColorFullScreenBgn.checkColor{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.Okm-colorPicker.square .circle, .Okm-colorPicker.square, .Okm-colorPicker.square #colorPicker{
    clip-path: none;
    -webkit-clip-path: none;
    overflow: hidden;
    border-radius: 0;
}
.Okm-colorPicker.square .sector{
    width: 100%;
}
#colorPickerViewColor.square {
    clip-path: none;
    -webkit-clip-path: none;
    overflow: hidden;
    border-radius: 0;
}
.Okm-colorPicker.square:hover .circle:nth-child(even){
    transform: none;
}