
.slider-bottom {
    max-width: 1000px;
    width: 90%;
    display: flex;
    justify-content: center;
    
    .slick-list {
        width: 80%;
    }

    .prev-arrow-container, .next-arrow-container {
        width: 10%;
        display: flex;
        align-items: center;
    }
    .slick-arrow {
        width: 100%;
    }

    .slider-bottom-slider{
        height: 100%;
        width: 100%;
    }
    .slider-bottom-container {
        padding: 2%;
    }
}
